*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.outer-body{
    width: 100%;
    height: auto;
    background-color: rgba(207, 207, 207, 0.336);
}
.navbar{
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar img{
    height: 50%;
}
.search-bar{
    width: 40%;
    height: 50%;
    display: flex;
    align-items: center;
}
.navbar input[type='text']{
    width: 100%;
    height: 100%;
    padding-left: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgba(135, 207, 235, 0.082);
    font-size: 100%;
    font-weight: 400;
}
#search-icon{
    position: relative;
    left: 25px;
    color: rgba(128, 128, 128, 0.589);
}
.login{
    height: 50%;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.user-icon{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart{
    height: 50%;
    width: 6%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.seller{
    height: 50%;
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.flipkart-items{
    width: 98%;
    height: 140px;
    background-color: #fff;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 11%;
}
.products h5{
    padding: 5px;
}
.label{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.label i{
    font-size: small;
}

.oppo{
    width: 98%;
    height: 260px;
    margin: 12px;
    background-color: #fff;
}
.oppo .image{
    background-image: url(image\ 1.webp);
    background-size: cover;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
.arrow-left{
    width: 40px;
    height: 100px;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
    top: 80px;
}
.arrow-right{
    width: 40px;
    height: 100px;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 80px;
}
.bars{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: large;
    color: rgba(128, 128, 128, 0.5);
}
.product-list-1{
    width: 98%;
    height: 320px;
    background-color: #fff;
    margin: 12px;
}
.heading h2{
    height: 10%;
    padding: 15px;
    font-weight: 600;
}
.items{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.items .products{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.items .products img{
    height: 170px;
}
.items .products .l1{
    font-size: small;
    margin-top: 10px;
}
.items .products .l2{
    font-size: small;
    font-weight: bold;
    margin-top: 10px;
}
.items .arrow-right{
    width: 40px;
    height: 100px;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -58px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}
.flight-booking{
    height: 320px;
    width: 16%;
    background-image: url(flight\ booking.webp);
    background-size: cover;
}
.product-list-2_border{
    width: 98%;
    height: 600px;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-list-2{
    width: 32.3%;
    height: 100%;
    background-color: #fff;
}
.product-list-2 .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-list-2 .heading .arrow-btn{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.list-items1, .list-items2{
    width: 100%;
    height: 250px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item1, .item2{
    width: 45%;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.item1 .line1, .item2 .line1{
    font-size: large;
    font-weight: 600;
    padding-left: 15px;
}
.item1 .line2, .item2 .line2{
    font-size: large;
    font-weight: 600;
    padding-left: 15px;
    color: green;
}
.advertisement{
    height: 100%;
    width: 100%;
    background-image: url(adds.JPG);
    background-size: cover;
    cursor: pointer;
}

.footer{
    width: 100%;
    height: auto;
    margin-top: 50px;
    background-color: rgba(207, 207, 207, 0.212);
    padding: 70px 20px 0 20px;
}
.top-stories{
    width: 100%;
    height: auto;
}
.topic{
    font-size: 15px;
    color: rgb(90, 90, 90);
}
.contents{
    font-size: small;
    color: rgb(90, 90, 90);
}
.footer h4, h3{
    font-size: medium;
    color: rgb(90, 90, 90);
}
#contents{
    font-size: small;
    color: rgb(90, 90, 90);
}
footer{
    width: 100%;
    height: auto;
    background-color: rgb(36, 36, 36);
}
.footer-border{
    width: 100%;
    height: 320px;
    padding: 30px 40px 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-help{
    height: 90%;
    width: 55%;
    display: flex;
    justify-content: space-between;
}
.mail-us{
    height: 90%;
    width: 45%;
    display: flex;
    justify-content: space-around;
}
.hr{
    height: 90%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.37);
}
.ank-tags{
    width: 24%;
    height: 100%;
}
.ank-tags .about, .grp-com, .help, .con-pol{
    font-size: small;
    color: rgb(145, 145, 145);
}
.ank-tags a{
    text-decoration: none;
    color: white;
    font-size: small;
}
.ank-tags a:hover{
    text-decoration: underline;
}
.details{
    width: 50%;
    height: 100%;
    padding-left: 25px;
}
.mail-us .mail, .reg-off{
    font-size: small;
    color: rgb(145, 145, 145);
}
.details p{
    color: white;
    font-size: small;
}
.details p a{
    color: rgb(44, 41, 231);
    font-size: small;
    text-decoration: none;
}
.social-media{
    width: 100%;
    height: 50px;
}
.social-media .icons{
    color: white;
    margin-left: 10px;
}
.footer-end{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bas{
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}
.footer-end i{
    color: rgba(255, 230, 0, 0.664);
}
.footer-end div{
    color: white;
}
.adv{
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}
.gift{
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}
.help-c{
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}
.copyright{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}
.copyright i{
    color: white;
    font-size: x-small;
}